.env
.vercel
.herenow
.server.pid
server.stdout.log
server.stderr.log
downloads/*
library/*
!downloads/.gitkeep
!library/.gitkeep

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
